[build]
builder = "NIXPACKS"
buildCommand = "mvn -DskipTests clean package"

[deploy]
startCommand = "java -jar app.jar --server.port=$PORT"
healthcheckPath = "/login"
healthcheckTimeout = 180
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
