[build]
builder = "NIXPACKS"
buildCommand = "mvn -DskipTests clean package"

[deploy]
startCommand = "java -jar target/student-helpdesk-*.jar"
healthcheckPath = "/login"
healthcheckTimeout = 180
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
